.about{
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 50px;
}

.about-team{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.about-team--img{
    display: flex;
    justify-content: space-between;
}


.about-team--img h5{
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 40px;
}

.about-team--title{
    width: 50%;
}

.about-team--title h1{
    font-family: 'Ruda';
    font-style: normal;
    color: #fff;
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
}

.about-team--img{
    display: flex;

}

.about-team--img img{
    width: 30%;
}

.about-work{
    display: flex;
    align-items: center;
    gap: 35px;
}

.about-work a{
    height: 70px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 25px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}


.about-work a:last-child>img{
    height: 30px;
}

@media (max-width: 959px) {
    .about-work a{
        font-size: 20px;
    }
}

@media (max-width: 646px) {
    .about-team--img{
        flex-direction: column;
        gap: 50px;
    }

    .about-team--img img{
        width: 50%;
    }

    .about-team--title h1{
        font-size: 50px;
        line-height: 50px;
    }

    .about-work{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 646px) {
    .about-team--img{
        flex-direction: column;
        gap: 50px;
    }

    .about-team--img img{
        width: 50%;
    }

    .about-team--title h1{
        font-size: 50px;
        line-height: 50px;
    }

    .about-work{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 383px) {
    .about-work a{
        font-size: 12px;
    }
}