.benefit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #edebeb;
    margin-top: 50px;
}

.benefit-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.benefit h1, .benefit-card--item h2{
    font-size: 30px;
    font-weight: 600;
    color: #373737;
    text-align: center;
}



.benefit-card--item>p{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
.benefit-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.benefit-title>p{
    font-size: 25px;
    text-align: center;
    color: black;
    width: 80%;
}

.benefit-card--item{
    width: 25%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 50px 15px;
    box-sizing: border-box;
}

.benefit-card--item> img{
    width: 35px;
    height: 35px;
    filter: invert(17%) sepia(1%) saturate(0%) hue-rotate(236deg) brightness(97%) contrast(86%);
}


@media (max-width: 1211px) {
    .benefit-card{
        justify-content:unset;
        gap: 50px;
        flex-wrap: wrap;
    }

    .benefit-card--item{
        width: 46%;
    }
}

@media (max-width: 780px) {
    .benefit-card{
        justify-content: center;
    }
    .benefit-card--item{
        width: 60%;
    }
}

@media (max-width: 545px) {
    .benefit-card--item{
        width: 100%;
    }

    .benefit-title>p{
        font-size: 18px;
        line-height: 25px;
    }
}