.footer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 50px;
}

.footer a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer>a{
    text-transform: uppercase;
}

.footer span{
    display: flex;
    gap: 15px;
}

@media (max-width: 525px) {
    .footer{
        align-items: center;
    }

    .footer span{
        flex-direction: column;
    }
}