.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>a{
    text-transform: uppercase;
    text-decoration: wavy;
    color: #000;
    font-size: 25px;
    
}

.header-buttons{
    display: flex;
    gap: 15px;
}

.menu{
    display: none;
    width: 25px;
    height: 25px;
}
@media (max-width: 525px) {
    .menu{
        display: block;
    }

    .header-buttons{
        display: none;
    }
}